html,
body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    min-height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
    color: white;
    text-shadow: 2px 2px black;
}

.navbar {
    margin-bottom: 0px!important;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
}

.content {
    min-height: 100vh;
    background-image: url(../images/back.jpg);
    background-size: cover;
    color: white;
    padding-top: 200px;
    background-position: bottom;
    text-align: center;
}

.links {
    font-size: 1.3em;
    a {
        color: white;
        font-weight: inherit;
        font-size: inherit;
        text-shadow: 2px 2px black;
    }
    &:hover {
        color: white;
        text-decoration: none;
    }
}

a:hover,
a:focus {
    color: white!important;
    text-decoration: none!important;
}

.navbar-nav {
    li {
        border: 1px solid black;
        border-top: none;
        border-bottom: none;
        &:first-child {
            border-right: none;
        }
        &:nth-child(2) {
            border-right: none;
        }
    }
    a {
        color: black!important;
        font-weight: bold;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease!important;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        &:hover {
            color: orange!important;
            -webkit-transition: all 0.5s ease!important;
            -moz-transition: all 0.5s ease;
            -ms-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
        }
    }
}

a.navbar-brand {
    text-transform: uppercase;
    color: black!important;
    letter-spacing: 4px;
    &:hover {
        color: black!important;
    }
}

li.li_deco {
    border: none!important;
}

.links a {
    -webkit-transition: all 0.5s ease!important;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    &:hover {
        color: orange!important;
        -webkit-transition: all 0.5s ease!important;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
}

li.li_registrer {
    border-right: 1Px solid black!important;
}

.logo {
    background-image: url(../images/logo.png);
    background-size: cover;
    width: 40px;
    height: 32px;
    float: left;
    margin-top: 8px;
    margin-right: 20px;
    display: inline-block;
}

.container-connexion {
    padding-top: 120px;
    background-image: url(../images/back_co.jpg);
    background-size: cover;
    background-position: top;
    width: 100%!important;
    min-height: 100vh;
    .row {
        width: 70%;
        margin: 0 auto;
    }
    .panel-default {
        text-align: center;
        color: black;
        border: none;
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
    }
    .panel-heading {
        text-align: center;
        font-weight: bold;
        color: black;
        font-size: 2em;
    }
    .form-horizontal .control-label {
        padding-bottom: 15px;
    }
}

.btn-primary {
    border: none!important;
    background-color: orange!important;
    -webkit-transition: all 0.5s ease!important;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.btn-link:hover,
.btn-link:focus {
    color: orange!important;
    -webkit-transition: all 0.5s ease!important;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

input:-webkit-autofill {
    background-color: #000 !important;
}

.container-list-product {
    padding-top: 20px;
    background-image: url(../images/back_list.jpg);
    width: 100%!important;
    min-height: 92vh;
    .row {
        width: 90%;
        margin: 0 auto;
    }
    .panel-heading {
        text-align: center;
        border-color: black!important;
    }
    ul {
        list-style: none;
        li {
            margin-bottom: 30px;
            img {
                border-radius: 30px;
                display: inline-block;
            }
            .detail_product {
                margin-left: 15px;
                display: inline-block;
                width: 77%;
                vertical-align: middle;
                .nom_product {
                    text-transform: uppercase;
                    font-weight: bold;
                    display: inline-block;
                }
                .prix_product {
                    float: right;
                    font-weight: bold;
                    font-size: 1.2em;
                }
                button {
                    margin-top: 10px;
                    border-radius: 15px;
                    /* border-color: white; */
                    box-shadow: none;
                    background-color: orange;
                    /* -webkit-appearance: none; */
                    color: white;
                    padding-left: 10Px;
                    padding-right: 10px;
                    border: none;
                    display: block;
                    -webkit-transition: all 0.5s ease!important;
                    -moz-transition: all 0.5s ease;
                    -ms-transition: all 0.5s ease;
                    -o-transition: all 0.5s ease;
                    transition: all 0.5s ease;
                    &:hover {
                        -webkit-transition: all 0.5s ease!important;
                        -moz-transition: all 0.5s ease;
                        -ms-transition: all 0.5s ease;
                        -o-transition: all 0.5s ease;
                        transition: all 0.5s ease;
                        background-color: grey;
                    }
                }
            }
        }
    }
}

.product_list_choice {
    
    .no_item{
        float: left;
    }
    h3 {
        color: black;
        font-style: italic;
        font-size: 15px;
        margin-left: 4px;
    }
    p {
        float: right;
        font-style: italic;
    }
    button {
        margin-top: 10px;
        border-radius: 15px;
        /* border-color: white; */
        box-shadow: none;
        background-color: orange;
        /* -webkit-appearance: none; */
        color: white;
        padding-left: 10Px;
        padding-right: 10px;
        border: none;
        display: block;
        -webkit-transition: all 0.5s ease!important;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        &:hover {
            -webkit-transition: all 0.5s ease!important;
            -moz-transition: all 0.5s ease;
            -ms-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
            background-color: grey;
        }
    }
    .panel-heading {
        text-align: center;
        border-color: black!important;
    }
    .panel_footer {
        font-weight: bold;
        color: black;
    }
}

.alert_connexion {
    text-align: center;
    color: black;
    font-weight: bold;
    padding-top: 220px;
    background-image: url(../images/back_alert_co.jpg);
    background-size: cover;
    width: 100%!important;
    min-height: 92vh;
}

.item_list_product {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    .list_prix {
        font-weight: bold;
        display: inline-block;
    }
    .prix_val {
        display: inline-block;
    }
}

.nom_total{
    width: 75%;
    display: inline-block;
}

.total{
    display: inline-block;
    float: right;
        font-weight: bold;
    font-size: 2em;
}